<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center" class="bar">
  <div class="logo">
    <a mat-button class="logo-button" routerLink="/home">
      <i class="material-icons md-96 logo-icon">local_taxi</i>
    </a>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around baseline" class="nav-menu">
    <div fxLayout="row" fxLayoutAlign="center center" class="directives">
      <a mat-button fxLayoutAlign="none center" class="nav-button" routerLink="/home">Головна</a>
      <a mat-button fxLayoutAlign="none center" class="nav-button" routerLink="/contacts">Контакти</a>
    </div>

    <button *ngIf="!user.isLoggedIn" mat-raised-button color="primary" (click)="openDialog()">Login</button>
    <div *ngIf="user.isLoggedIn" fxLayout="row" fxLayoutAlign=". center">
      <div *ngIf="client" fxLayoutAlign=". center" class="welcome">
        <span *ngIf="client">Вітаємо, {{client.lastName}} {{client.firstName}}</span>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu fxLayout="column" fxLayoutAlign="center center" #menu="matMenu">
        <div *ngIf="client" mat-menu-item>
          <a mat-stroked-button>My Orders</a>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="user-menu" mat-menu-item>

          <button mat-raised-button color="warn" (click)="logout()">
            Logout
          </button>
        </div>
      </mat-menu>
    </div>
  </div>
</div>