<div class="inner-container">
  <div class="car-info" fxLayout="column" fxLayoutGap="15px">
    <mat-form-field [formGroup]="carForm">
      <mat-label>VIN код</mat-label>
      <input matInput formControlName="vinCode" (blur)="setVINcode(carForm.value.vinCode)">
      <mat-icon matSuffix>drive_eta</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Тип </mat-label>
      <mat-select [(ngModel)]="carType">
        <mat-option (blur)="setTypeOfCar(carType)" *ngFor="let type of carTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [formGroup]="carForm">
      <mat-label>Кількість сидінь</mat-label>
      <input matInput formControlName="numOfSeats" (blur)="setNumOfSeats(carForm.value.numOfSeats)">
    </mat-form-field>
    <mat-form-field [formGroup]="carForm">
      <mat-select formControlName="childSeat" (selectionChange)="setChildSeat(carForm.value.childSeat)">
        <mat-option *ngFor="let childSeat of childSeatTypes" [value]="childSeat">
          {{ childSeat }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
  </div>
  <div mat-dialog-actions class="submit-container" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary" mat-dialog-close [disabled]="carForm.invalid" (click)="onSubmit()">Додати</button>
  </div>
</div>