.root-container {
    width: 1300px;
}

.root-content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

.productive-drivers {
    width: 60%;
}

.department-popularity {
    width: 40%;
}

.mat-header-cell, .mat-cell{
    padding-right: 20px;
}

.mat-header-cell.action-column, .mat-cell.action-column {
    padding-right: 5px;
    padding-left: 5px;
}

.department-name {
    font-size: 18px;
}