<h2 mat-dialog-title>Список доступних водіїв</h2>
<mat-dialog-content fxLayout="column" fxLayoutGap="5px" class="mat-typography">
  <mat-card *ngFor="let driver of availableDrivers">
    <mat-card-content>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxLayoutGap="15px"
      > 
        <mat-icon class="available-icon">check_circle</mat-icon>
        <div>{{ driver.driverId }}</div>
        <div>{{ driver.firstName }}</div>
        <div>{{ driver.lastName }}</div>
        <div>{{ driver.typeOfCar }}</div>
        <div>{{ driver.childSeat ? 'Для дитини' : 'Не для дитини'}}</div>
        <div>
          <span *ngIf="getTime(driver.beginning) === '08:00:00'"><mat-icon>wb_sunny</mat-icon></span>
          <span *ngIf="getTime(driver.beginning) === '20:00:00'">brightness_3</span>
        </div>
        <button mat-raised-button color="primary" (click)="updateOrderInformation(driver)">Призначити</button>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
