<app-operator-side-bar></app-operator-side-bar>
<app-operator-action-bar></app-operator-action-bar>

<div class="mat-elevation-z8 table-container">
  <table mat-table matSort [dataSource]="drivers"> 
    <ng-container matColumnDef="driverId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let driver">{{ driver.driverId }}</td>
    </ng-container>

    <ng-container matColumnDef="departmentId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Department Id</th>
      <td mat-cell *matCellDef="let driver">{{ driver.departmentId }}</td>
    </ng-container>

    <ng-container matColumnDef="carId">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Car Id</th>
      <td mat-cell *matCellDef="let driver">{{ driver.carId }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let driver">{{ driver.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let driver">{{ driver.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Middle Name</th>
      <td mat-cell *matCellDef="let driver">{{ driver.middleName }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date of Birth</th>
      <td mat-cell *matCellDef="let driver">
        {{ getDate(driver.dateOfBirth) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Region</th>
      <td mat-cell *matCellDef="let driver">{{ driver.region }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let driver">{{ driver.city }}</td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Street</th>
      <td mat-cell *matCellDef="let driver">{{ driver.street }}</td>
    </ng-container>

    <ng-container matColumnDef="building">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Building</th>
      <td mat-cell *matCellDef="let driver">{{ driver.building }}</td>
    </ng-container>

    <ng-container matColumnDef="flat">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Flat</th>
      <td mat-cell *matCellDef="let driver">{{ driver.flat }}</td>
    </ng-container>

    <ng-container matColumnDef="beginning">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Beginning</th>
      <td mat-cell *matCellDef="let driver">{{ getTime(driver.beginning) }}</td>
    </ng-container>

    <ng-container matColumnDef="ending">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Ending</th>
      <td mat-cell *matCellDef="let driver">{{ getTime(driver.ending) }}</td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let driver">{{ driver.salary }}</td>
    </ng-container>

    <ng-container matColumnDef="available">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Available</th>
      <td mat-cell *matCellDef="let driver">{{ driver.available }}</td>
    </ng-container>

    <ng-container matColumnDef="Actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="action-column">
        <app-add-button [item]="item"  (emitter)="getDrivers()"></app-add-button>
      </th>
      <td mat-cell *matCellDef="let driver" class="action-column">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <button mat-icon-button (click)="edit(driver)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(driver)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>