<h1 mat-dialog-title>Увійти</h1>
<mat-dialog-content>
  <form [formGroup]="loginForm" fxLayout="column">
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Введіть телефон" />
    </mat-form-field>
    <mat-form-field>
      <input type="password" formControlName="password" matInput placeholder="Введіть пароль" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Увійти</button>
      <button mat-stroked-button color="warn" (click)="close()">Скасувати</button>
    </div>
  </form>
</mat-dialog-content>