<div class="inner-container">
  <div mat-dialog-content class="dialog-content" [formGroup]="driverForm">

    <h3> Персональна інформація</h3>
    <div class="personal-details" fxLayout="row" fxLayoutGap="10px">

      <div fxLayout="column" fxLayoutGap="10px" fxLayouAlign="strech">
        <mat-form-field>
          <mat-label>Ім'я </mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Дата народження </mat-label>
          <input matInput formControlName="birthDate" [matDatepicker]="BirthDatePicker" (focus)="BirthDatePicker.open()">
          <mat-datepicker-toggle matSuffix [for]="BirthDatePicker" required></mat-datepicker-toggle>
          <mat-datepicker #BirthDatePicker></mat-datepicker>
        </mat-form-field>
      </div>


      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> По-батькові </mat-label>
          <input matInput formControlName="middleName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Відділення</mat-label>
          <mat-select formControlName="departmentId">
            <mat-option *ngFor="let department of departments" [value]="department.departmentId">{{department.departmentId}} - {{department.city}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div fxLayout="column" fxLayoutGap="10px">

        <mat-form-field>
          <mat-label> Прізвище </mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Автомобіль</mat-label>
          <mat-select formControlName="carId">
            <mat-option *ngFor="let car of cars" [value]="car.carId">{{car.carId}} - {{car.typeOfCar}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="phones-container">
      <mat-form-field [style.width.px]=650>
        <mat-label>Номер телефону </mat-label>
        <mat-chip-list #chipList aria-label="Phone selection">
          <mat-chip *ngFor="let phone of phones" [selectable]="selectable" [removable]="removable"
            (removed)="remove(phone)">
            {{phone}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input [matChipInputFor]="chipList" formControlName="personalPhone"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" class="phone-input">
    
        </mat-chip-list>
    
      </mat-form-field>
    </div>


    <div>Місце проживання</div>

    <div class="adress-details" fxLayout="row" fxLayoutGap="10px">

      <div fxLayout="column" fxFlex="200.99px" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Область </mat-label>
          <input matInput formControlName="region" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Будинок </mat-label>
          <input matInput formControlName="building" required>
        </mat-form-field>
      </div>


      <div fxLayout="column" fxFlex="200.99px" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Місто </mat-label>
          <input matInput formControlName="city" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Квартира </mat-label>
          <input matInput formControlName="flat">
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex="200.99px" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Вулиця </mat-label>
          <input matInput formControlName="street" required>
        </mat-form-field>
      </div>

    </div>


    <h1 class="shift-title" mat-dialog-title>Зміна</h1>

    <mat-radio-group fxLayout="row" fxLayoutGap="20px">
      <div>
        <input type="radio" formControlName="shiftTime" class="shift-radio" value="08:00 - 20:00"><span>08:00 -
          20:00</span>
      </div>
      <div>
        <input type="radio" formControlName="shiftTime" class="shift-radio" value="20:00 - 08:00"> <span>20:00 -
          08:00</span>
      </div>
    </mat-radio-group>



  </div>
  <div mat-dialog-actions class="submit-container" fxLayout="row" fxLayoutAlign="center">
    <button *ngIf="!editDriver" [disabled]="driverForm.invalid" mat-raised-button color="primary" mat-dialog-close (click)="addDriver()">Додати</button>
    <button *ngIf="editDriver" [disabled]="driverForm.invalid" mat-raised-button color="primary" mat-dialog-close (click)="updateDriver()">Оновити</button>
  </div>
</div>