<mat-sidenav fxLayout="column" fxLayoutAlign="center center" opened mode="over" class="side-bar" disableClose="true">
  <mat-drawer-container fxLayoutAlign="center center" class="side-bar-header">
    <mat-drawer-content fxLayoutAlign="center center" class="side-bar-header-title"><span *ngIf="!isLoading && newOrders.length > 0"
        [matBadge]="newOrders.length" matBadgeOverlap="false" matBadgeColor="warn">Нові Замовлення</span>
      <span *ngIf="isLoading || newOrders.length == 0">Нові Замовлення</span></mat-drawer-content>
  </mat-drawer-container>

  <div *ngIf="isLoading" fxLayoutAlign="center center" class="spinner">
    <mat-spinner fxLayoutAlign="center center" diameter="30"></mat-spinner>
  </div>

  <mat-drawer-container *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center">
    <mat-drawer-content *ngFor="let order of newOrders" class="new-order">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign=". center">
            <div fxLayoutAlign="center center" class="new-order-icon">
              <mat-icon color="warn">fiber_new</mat-icon>
            </div>
            <div fxLayoutAlign="center center" class="new-order-title">
              Замовлення {{ order.orderId }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card fxLayout="column" class="new-order-info">
          <mat-card-content fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="15px" class="new-order-route">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div class="card-header">Відправлення:</div>
              <div class="route-value">
                {{ order.departurePoint }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div class="card-header">Прибуття:</div>
              <div class="route-value">
                {{ order.arrivalPoint }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div class="card-header">Призначений час:</div>
              <div class="route-value">
                {{ getTime(order.appointedTime) }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div class="card-header">Тип машини:</div>
              <div class="route-value">
                {{ order.typeOfCar }}
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
              <div class="card-header">Дитяче крісло:</div>
              <div class="route-value">
                {{ order.childSeat ? "Потрібне" : "Не потрібне" }}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button color="primary" (click)="openDialog(order)">
              Призначити водія
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-sidenav>