<mat-sidenav
  fxLayout="column"
  opened
  mode="over"
  class="side-bar"
  disableClose="true"
>
  <mat-drawer-container fxLayoutAlign="center center" class="side-bar-header">
    <mat-drawer-content
      fxLayoutAlign="center center"
      class="side-bar-header-title"
      ><span
        [matBadge]="newOrders.length"
        matBadgeOverlap="false"
        matBadgeColor="warn"
        >New Orders</span
      ></mat-drawer-content
    >
  </mat-drawer-container>
  <mat-drawer-container fxLayout="column" fxLayoutAlign="center center">
    <mat-drawer-content *ngFor="let order of newOrders" class="new-order">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutAlign=". center">
            <div fxLayoutAlign="center center" class="new-order-icon">
              <mat-icon color="warn">fiber_new</mat-icon>
            </div>
            <div fxLayoutAlign="center center" class="new-order-title">
              Order {{ order.orderId }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card fxLayout="column" class="new-order-info">
          <mat-card-content
            fxLayout="column"
            fxLayoutAlign="space-around"
            fxLayoutGap="5px"
            class="new-order-route"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="10px"
            >
              <div>Departure:</div>
              <div class="route-value">
                {{ order.departurePoint }}
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="10px"
            >
              <div>Arrival:</div>
              <div class="route-value">
                {{ order.arrivalPoint }}
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="10px"
            >
              <div>Appointed time:</div>
              <div class="route-value">
                {{ getTime(order.appointedTime) }}
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="10px"
            >
              <div>Type of car:</div>
              <div class="route-value">
                {{ order.typeOfCar }}
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <button mat-raised-button color="primary">Assign Driver</button>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-sidenav>
