<mat-vertical-stepper *ngIf="!finish" class="order-stepper" linear="true" #stepper>
  <mat-step editable="false" [stepControl]="firstFormGroup">
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Оберіть місце відправлення та прибуття</ng-template>
      <div fxLayout="row" fxLayoutGap="10px" class="route-form">
        <mat-form-field>
          <mat-label>Відправлення</mat-label>
          <input matInput matGoogleMapsAutocomplete country="ua" placeholder="Введіть місце відправлення"
            formControlName="firstCtrl" (onAutocompleteSelected)="setDeparture($event)" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Прибуття</mat-label>
          <input matInput matGoogleMapsAutocomplete country="ua" placeholder="Введіть місце прибуття"
            formControlName="secondCtrl" (onAutocompleteSelected)="setArrival($event)" />
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>

  <mat-step editable="false" [stepControl]="secondFormGroup" [completed]="group.selected">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Оберіть тип машини</ng-template>
      <mat-button-toggle-group gdAreas="first second | third fourth" gdGap="25px" formControlName="secondCtrl"
        #group="matButtonToggleGroup">
        <mat-button-toggle gdArea="first" value="Седан-бізнес">
          <div class="car-type-1"></div>
        </mat-button-toggle>
        <mat-button-toggle gdArea="second" value="Седан">
          <div class="car-type-2"></div>
        </mat-button-toggle>
        <mat-button-toggle gdArea="third" value="Економ">
          <div class="car-type-3"></div>
        </mat-button-toggle>
        <mat-button-toggle gdArea="fourth" value="Мінівен">
          <div class="car-type-4"></div>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div fxLayoutAlign="center center" class="car-buttons">
        <button mat-button matStepperNext (click)="setTypeOfCar(secondFormGroup.value.secondCtrl)">
          Далі
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step editable="false" [stepControl]="fourthFormGroup">
    <ng-template matStepLabel>Призначте час</ng-template>
    <form [formGroup]="fourthFormGroup" fxLayoutAlign="center center">
      <mat-form-field>
        <div>
          <input matInput aria-label="time-picker" [ngxTimepicker]="appointTime" formControlName="fourthCtrl"
            [format]="24" readonly style="text-align: center;" />
          <ngx-material-timepicker #appointTime></ngx-material-timepicker>
        </div>
      </mat-form-field>
    </form>
    <div fxLayoutAlign="center center">
      <button mat-button matStepperNext (click)="setAppointedTime(fourthFormGroup.value.fourthCtrl)">
        Далі
      </button>
    </div>
  </mat-step>

  <mat-step editable="false" [stepControl]="thirdFormGroup" [completed]="wayOfPayment">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="payment-radio">
      <ng-template matStepLabel>Оберіть спосіб оплати</ng-template>
      <label id="payment">Оплата буде здійснюватися: </label>
      <mat-form-field>
        <mat-label>Оберіть варіант:</mat-label>
        <mat-select [(ngModel)]="wayOfPayment">
          <mat-option *ngFor="let way of ways" [value]="way">{{way}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayoutAlign="center center">
        <button mat-button matStepperNext (click)="setPaymentMethod(wayOfPayment)">
          Далі
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Інформація</ng-template>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="order-information">
        <mat-card-title fxLayoutAlign="center center" fxLayoutGap="15px">
          <mat-icon class="md-24">list_alt</mat-icon>
          <div>Інформація про замовлення</div>
        </mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign=". center" class="wd-100">
          <div fxLayout="row" fxLayoutGap="15px" class="wd-100">
            <mat-card>
              <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div>Місце відправлення:</div>
                <div fxLayoutAlign="flex-end" class="value-name">
                  {{ departurePoint }}
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div>Місце прибуття:</div>
                <div fxLayoutAlign="flex-end" class="value-name">
                  {{ arrivalPoint }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxLayout="row" fxLayoutGap="15px" class="wd-100">
            <mat-card>
              <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div>Відстань:</div>
                <div fxLayoutAlign="flex-end" class="value-name">
                  {{ numberOfKm }} км
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div>Назначений час:</div>
                <div fxLayoutAlign="flex-end" class="value-name">{{ appointedTime }}</div>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxLayout="row" fxLayoutGap="15px" class="wd-100">
            <mat-card>
              <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div>Тип машини:</div>
                <div fxLayoutAlign="flex-end" class="value-name">
                  {{ typeOfCar }}
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-content fxLayout="column" fxLayoutGap="15px">
                <div>Спосіб оплати:</div>
                <div fxLayoutAlign="flex-end" class="value-name">
                  {{ wayOfPayment }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="approximate-price">
            <div>Приблизна ціна: {{approximatePrice}} грн.</div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="last-step-buttons">
        <button mat-button color="warn" (click)="stepper.reset()">Очистити</button>
        <button *ngIf="user.role" mat-button color="primary" (click)="stepper.reset(); createNewOrder();">
          Завершити
        </button>
        <button *ngIf="!user.role" mat-button color="primary" (click)="loginToCreateOrder()">
          Завершити
        </button>
      </div>
    </div>
  </mat-step>
</mat-vertical-stepper>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="finish" class="container finish-display">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <i class="material-icons md-48 finish-icon">check_circle_outline</i>
    <div class="finish-text">Замовлення було відправлено !</div>
  </div>
  <a #finishButton mat-raised-button class="finish-button" [routerLink]="" (click)="toggleFinish()">
    Повернутися до головної сторінки
  </a>
</div>