<h2 *ngIf="!edit" mat-dialog-title>Додати {{item}}</h2>
<h2 *ngIf="edit" mat-dialog-title>Редагувати {{item}}</h2>

<app-driver-app-page *ngIf="item === 'Водія'" [editDriver]="driver"></app-driver-app-page>
<app-client-add-page *ngIf="item === 'Клієнта'" [editClient]="client"></app-client-add-page>
<app-operator-add-page *ngIf="item === 'Оператора'" [editOperator]="operator"></app-operator-add-page>
<app-order-add-page *ngIf="item === 'Замовлення'"></app-order-add-page>
<app-car-add-page *ngIf="item === 'Автомобіль'"></app-car-add-page>
<app-driver-phones-add-page *ngIf="item === 'Телефон Водія'"></app-driver-phones-add-page>
<app-user-add-page *ngIf="item === 'Користувача'"></app-user-add-page>
<app-department-add-page *ngIf="item === 'Відділення'"></app-department-add-page>