<div class="inner-container">
  <h1 mat-dialog-title class="gialog-title">Додати нового користувача</h1>

  <div mat-dialog-content class="dialog-content">
    <h3> Персональна інформація </h3>
    <div class="personal-details" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px"
      [formGroup]="userForm">

      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Ім'я</mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label> По-батькові </mat-label>
          <input matInput formControlName="middleName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <!--  <mat-label>E-mail</mat-label>
          <input matInput  formControlName="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Введіть коректний E-mail
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail <strong>обов'язковий</strong>
          </mat-error> -->

          <mat-label>E-mail:</mat-label>
          <input  matInput [class.is-invalid]="primEmail.invalid && primEmail.touched" 
            formControlName="primaryEmail"  placeholder="Ex.pat@example.com">

          <!-- <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty"> -->
            <!-- <mat-error *ngIf="primEmail.errors?.required" >E-mail</mat-error> -->
            
            <mat-error *ngIf="primEmail.errors?.pattern" >Введіть коректний e-mail</mat-error>
          <!-- </div> -->
        </mat-form-field>
      </div>


      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label> Прізвище </mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Номер телефону </mat-label>
          <input matInput formControlName="personalPhone" required>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Номер кредитної карти </mat-label>
          <input matInput formControlName="creditCard">
          <mat-icon matSuffix>credit_card</mat-icon>

        </mat-form-field>
      </div>



    </div>
  </div>

  <div mat-dialog-actions class="submit-container" fxLayout="row" fxLayoutAlign="center">
    <button  type="submit" [disabled]="userForm.invalid" mat-raised-button color="primary" (click)="onSubmit()" class="submit-btn" >Додати</button>
  </div>
</div>