<div class="dialog-container">
    <h1 mat-dialog-title class="gialog-title"> Додати новий відділ</h1>
    <div mat-dialog-content class="dialog-content" fxLayout="column" fxLayoutAling="space-between center"
        [formGroup]="departmentForm">

        <mat-form-field [formGroup]="departmentForm" >
            <mat-label>Місто</mat-label>
            <input matInput formControlName="city">
            <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
    </div>
        <div mat-dialog-actions class="submit-container" fxLayout="row" fxLayoutAlign="center">
            <button type="submit" [disabled]="departmentForm.invalid" mat-raised-button color="primary" (click)="onSubmit()"
                class="submit-btn">Додати</button>
        </div>
</div>